* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Georgia, 'Times New Roman', sans-serif;
    color: #122230;
    background-color:#5B7388;
}
header {
    display: flex;
    background-color: #5B7388;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header h1 {
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #FA9C93;
}

header nav {
    margin: 5px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    color: #FA9C93;
}

header nav ul li {
    font-size: 25px;
    font-weight: normal;
    padding: 10px 20px;
}

.hero {
    background-image: url("../images/pexels-eberhard-grossgasteiger-844297.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-attachment: fixed;
    height: 300px;
}

.hero-quote {
    padding-bottom: 10px;
}

.hero h2 {
    color: #172B3D;
    background-color: #7EA0BD;
    font-style: italic;
    font-size: 20px;
    padding-right: 10px;
}

.work-wrapper {
    display: flex;
    flex-wrap: wrap;
     align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px; 
}

.my-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
}

.grid-work {
    flex-wrap: wrap;
    width: 300px;
}

.work {
    margin: 8px;
    border: 2px solid #294F70;
    height: 200px; 
}

.work h3, .work h4 {
    text-align: right; 
    color: #172B3D; 
    background-color: #7EA0BD; 
}

.work-title {
    display: flex;
}

.work-1 {
    background-image: url("../images/run-buddy SC.png");
    background-size: cover;
    position: relative;
}

.work-2 {
    background-image: url("../images/seacrh horse SC.png");
    background-size: cover;
    position: relative;
}

.work-3 {
    background-image: url("../images/3 work pic.jpeg");
    background-size: cover;
    position: relative;
}

.work-4 {
    background-image: url("../images/4 work pic.jpeg");
    background-size: cover;
    position: relative;
    height: 200px;
}

.work-h1 {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.flex-bio-h3 {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

.flex-bio-p { 
    font-size: 20px;
    margin: 10px;
}

.flex-bio {
    padding: 20px;
    display: flex; 
    align-items: center;
}

.flex-bio img {
    height: 300px;
    width: 300px;
    padding: 10px;
} 

.contact-wrapper {
    padding: 10px;
    margin:10px;
    text-align: center;
}

.contact-info ul {
    text-align: center;
    font-size: 20px;
}

.contact-info ul li {
    padding: 20px;
    margin: 20px;
    display: inline-block;
    list-style: none;
}

.contact-title {
    font-size: 30px;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black; 
}

a:visited {
    text-decoration: none;
    color: black;
}

/* MEDIA QUERIES */
@media screen and (max-width: 980px) {
    header {
        display: flex; 
        flex-wrap: wrap;
        padding: 20px 30px;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        
}

    header h1 {
        width: 100%;
    }

    .hero {
        width: 100%;
    }

    .hero-quote {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-quote h2 {
        font-size: 30px;
    }

    .flex-bio-p {
        display:flex;
        flex-wrap: wrap;
        font-size: 27px;
    }

    .contact-title {
        font-size: 40px;
    }

    .contact-info ul li {
        text-align: center;
        width: 100%;
        padding: 5px; 
        font-size: 30px; 
    }

    .flex-bio img {
        height: 500px;
        width: 500px;
        padding: 10px;
    } 

    .work-h1 {
        font-size: 40px;
    }

    .flex-bio-h3 {
        font-size: 40px;
    }

    .my-work {
        grid-template-columns: 1fr;
    }


    /* cellphones */
    @media screen and (max-width: 575px) {
        header h1 {
            width: 100%;
            font-size: 80px; 
        }
        
        .flex-bio-p {
            display:flex;
            flex-wrap: wrap;
            font-size: 40px;
        }
 
        .my-work {
            grid-template-columns: 1fr;
        }

}