body {
    font-family: Georgia, 'Times New Roman', sans-serif;
}
header {
    display: flex;
    background-color: #7A4C48;
    padding: 20px 30px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: Georgia, 'Times New Roman', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #FA9C93;
}

header nav {
    margin: 5px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    color: #FA9C93;
}

header nav ul li {
    font-size: 25px;
    font-weight: normal;
    padding: 10px 20px;
}